---
layout: page
title: 5e TTRPG campaigns
permalink: /ttrpgcampaigns.html
---

<div class="home">

  <h1 class="page-heading">Here are my D&D5 campaigns!</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.categories[0] == "dd_campaigns" %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
