<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="portfolio-flex-row">
      {% assign posts_list = site.posts %}  
      {% assign posts_list = posts_list | sort:"weight" %}
      {% for post in posts_list reversed %}
      {% if post.categories[0] == "video_games" %}
      <div class="portfolio-flex-item portfolio-item">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <!--<a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">-->
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
          {{ post.title }}
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<hr>
